$light-card-bg: #0f141a;

.uppercase {
  text-transform: uppercase !important;
}

.align-right {
  text-align: right;
}

ion-card {
  max-width: 60rem;
}

.big-record-button {
  cursor: pointer;
  padding: 4rem 2rem;
  font-size: 2rem;
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  align-content: center;

  ion-icon {
    margin-top: 1rem;
    margin-right: 1rem;
  }
}

.form-wrap {
  // padding: 1rem;

  .entity-card {
    // background: $light-card-bg;
    padding: 0;

    ion-card-header {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      text-transform: uppercase;
      color: #ffffffaa;
      align-items: center;
      font-size: 1.3rem;
      // background: #eeeeff22;
      // font-weight: 600;
      padding: 1rem 2rem;
      letter-spacing: 0.2rem;
    }

    ion-card-content {
      padding: 1rem;
    }
  }
}

.current-weight-card {
  padding: 1rem;

  .current-weight-measure {
    font-size: 2.5rem;
    display: grid;
    color: #ffffff;
    grid-template-columns: auto auto;
    justify-content: start;
    padding: 2rem;
    align-items: center;
    gap: 1rem;
  }
}

.card-action-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  width: 100%;
}

.license-plate-form {
  ion-item {
    // --background: $light-card-bg;

    ion-input {
      --padding-top: 3rem;
      --padding-bottom: 3rem;
    }
  }
}

.vehicle-suggestions {
  // background: $light-card-bg;

  ion-item-divider {
    // margin-top: 1rem;
    margin-bottom: 1rem;
    // background: #00000022;
    background: none;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

    ion-label {
      text-align: center;
    }
  }

  // ion-item {
  //   --background: $light-card-bg;
  //   --border-color: #00000033;
  // }

  .vehicle-form {
    display: grid;
    width: 100%;

    .vehicle-form-content {
      display: grid;
      gap: 1rem;
      grid-auto-flow: column;
      grid-template-columns: auto 1fr;

      .vehicle-type {
        padding: 0.5rem 0;

        ion-label {
          text-transform: uppercase;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.selected-vehicle-wrap {
  // background: $light-card-bg;
  display: grid;
  justify-content: stretch;

  ion-item {
    --background: none;
  }

  .title-row {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    grid-template-columns: 1fr auto;

    ion-title {
      text-transform: uppercase;
      font-size: 1.4rem;
    }
  }

  ion-card-content.content-row {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    width: 100%;
    gap: 1rem;

    ion-label {
      text-transform: uppercase;
    }
  }
}

.create-button-card {
  margin-top: 2rem;
  display: grid;
  justify-content: stretch;

  ion-text {
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
  }
}

.existing-record {
  margin-bottom: 4rem;
}
