$red-card: #ff496133;
$green-card: #2fdf7588;

.entity-card.red-card {
  background: $red-card;

  ion-card-header {
    background-color: $red-card;
  }
}

.entity-card.green-card {
  background: $green-card;

  ion-card-header {
    background: $green-card;
    color: black;
  }
}
