ion-split-pane {
  --side-max-width: 60px;
  --side-width: 60px;
  --border: none;
}

.sidebar {
  background: #ffffff22;
  display: grid;
  grid-template-rows: 1fr auto;
  width: 60px;
}

.wrap {
  margin: 2rem 1rem;
  display: grid;
  justify-content: center;

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    width: 100rem;
    max-width: 100vw;
  }
}
