
@font-face {
  font-family: 'DotMatrix';
  src: url('fonts/DotMatrix/DotMatrix-01.ttf');
}

@font-face {
  font-family: 'DotMatrixTwo';
  src: url('fonts/DotMatrix/DotMatrix-02.ttf');
}

@font-face {
  font-family: 'DotMatrixTwo';
  font-weight: bold;
  src: url('fonts/DotMatrix/DotMatrix-02.ttf');
}

@font-face {
  font-family: 'AnyOCR';
  src: url('fonts/AnyOCR/AnyOCR.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
  font-style: italic;
  font-family: 'Roboto Mono';
  src: url('fonts/RobotoMono/RobotoMono-Italic-VariableFont_wght.ttf');
}

body {
	background: #444;
	display: grid;
	height: 100vh;
	align-items: center;
	padding: 0;
	margin: 0;
}

#reading {
	color: #00ff88;
	font-family: DotMatrixTwo;
	text-align: center;
	font-size: 150px;
  z-index: 100;
  position: relative;
}

#container {
  position: relative;
  background: #000000;
}

#container.danger #reading {
	color: #fff;
}

#container.danger {
	background: #f00;
}

#container.warn #reading {
  color: #000000;
}

#container.warn {
	background: gold;
}

#container.zero {
  background: black;
}

#container.zero #reading {
	color: #00ff88;
}

#elapsed {
  text-align: center;
  color: #000000;
  font-family: monospace;
  font-weight: bold;
}

#container.zero #elapsed,
#container.warn #elapsed {
  color: #fff;
}

#time {
    color: #fff;
    font-family: monospace;
    text-align: center;
    margin: 0;
    font-size: 50px;
    font-weight: normal;
}

#notice {
	font-size: 40px;
	color: #fff;
	text-align: center;
	font-family: sans-serif;
}

#chart {
  position: absolute;
  z-index: 1;
}

.area {
	fill: #00000033;
}

#container.zero .area {
	fill: #00ff88aa;
}

