$indicator-green: #00ff80;
$indicator-background: #030610;
$indicator-error: #ff3869;

.scoreboard {
  color: $indicator-green;
  padding: 2rem 4rem;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  background-color: $indicator-background;
  font-family: 'DotMatrixTwo';
  text-shadow: 2px 3px 10px transparentize($indicator-green, $amount: 0.7);
  font-size: 4rem;

  &.error {
    color: $indicator-error;
    text-shadow: 2px 3px 10px transparentize($indicator-error, $amount: 0.7);
  }

  .reading {
    margin-right: 0.5rem;
  }

  .unit {
    background-color: $indicator-green;
    color: $indicator-background;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
  }
}
