@import '../../theme/variables.scss';

$indicator-green: #00ff80;
$indicator-background: #030610;
$indicator-error: #f10121;
$indicator-warn: #ffd534;

.scoreboard-wrap {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.scoreboard,
.scoreboard ion-input {
  color: $indicator-green;
  padding: 2rem 4rem;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  justify-content: stretch;
  background-color: $indicator-background;
  font-family: 'DotMatrixTwo';
  text-shadow: 2px 3px 10px transparentize($indicator-green, $amount: 0.7);
  font-size: 4rem;
  text-align: end;
  --padding-top: 0;
  --padding-bottom: 0;

  &.error,
  &.error ion-input {
    background: $indicator-error;

    .scoreboard-wrap,
    .scoreboard-text,
    .reading {
      color: #fff;
    }
  }

  &.warn,
  &.warn ion-input {
    background: $indicator-warn;
    color: #000;

    .scoreboard-wrap, 
    .scoreboard-text,
    .reading {
      color: #000;
    }
  }

  .reading {
    margin-right: 0.5rem;

    &.reading-status {
      text-transform: lowercase;
    }
  }

  .unit {
    background-color: $indicator-green;
    color: $indicator-background;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
  }
}

.scoreboard {
  ion-input {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    padding: 0;
    color: var(--ion-color-primary);
    font-size: 4.2rem;
  }

  .unit.manual-input-unit {
    background-color: var(--ion-color-secondary);
  }

  .scoreboard-text {
    display: grid;
    grid-auto-flow: column;
  }
}

.status-bar {
  text-align: end;
  // border-bottom: 3px solid;
  opacity: 0.6;
  background-color: $indicator-background;

  &.error {
    border-color: $indicator-error;
  }

  &.warn {
    border-color: $indicator-warn;
  }
}
