@import '../../theme/variables.scss';

$indicator-green: #00ff80;
$indicator-background: transparent;
$indicator-error: #ff2a5f;
$indicator-warn: #ffd534;

.display-wrap {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
  font-family: 'D-DIN';
  width: 100vw;
  justify-content: stretch;

  h1 {
    font-size: 8rem;
    color: white;
    font-weight: bold;
    text-align: center;
  }
}

.time,
.bottom-msg {
  text-align: center;
  font-size: 5rem;
  color: #fff;
}

.time {
  font-family: 'Roboto Mono', monospace;
}

.bottom-msg {
  font-family: 'Nokia Pure Headline';
  font-size: 4rem;
}

.display-license-plate {
  justify-self: center;
  transform: scale(2.5);
  padding: 1rem;
}

.display-first-weight,
.display-result {
  color: #fff;
  font-weight: bold;
  font-size: 8rem;
  text-align: center;
  padding: 2rem;
}

@keyframes golden {
  0% {
    color: gold;
  }

  20% {
    color: gold;
  }

  50% {
    color: white;
  }

  80% {
    color: gold;
  }

  100% {
    color: gold;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}

.display-result {
  color: gold;
  animation: golden 1s infinite;
}

.display {
  color: $indicator-green;
  padding: 0rem 4rem;
  width: 100%;
  font-weight: bold;
  display: grid;
  font-family: 'DotMatrixTwo';
  font-size: 15rem;
  text-align: center;
  --padding-top: 0;
  --padding-bottom: 0;

  &.error {
    background: $indicator-error;
    color: #ffffff;
  }

  &.warn {
    color: $indicator-warn;
    text-shadow: 2px 3px 10px transparentize($indicator-warn, $amount: 0.7);
  }

  .reading {
    margin-right: 0.5rem;

    &.reading-status {
      text-transform: lowercase;
    }
  }

  .unit {
    background-color: $indicator-green;
    color: $indicator-background;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
  }
}

.display {

  .display-text {
    display: grid;
    grid-auto-flow: column;
  }
}
